<%
  status_icons = {
    down: 'ðŸ’€',
    configuration_error: 'âš ï¸',
    shutting_down: 'ðŸ˜ª',
    at_capacity: 'ðŸ¥µ',
    scaling_down: 'ðŸ“‰',
    scaling_up: 'ðŸ“ˆ',
    migrating: 'ðŸ’¾',
    ok: 'âœ…',
    sleeping: 'ðŸ’¤'
  }

  backend = @application_name == 'Tutor' ? 'tutor-server' : @application_name.downcase
%>

<h3>Versions</h3>

<ul>
  <li>
    Backend (<%= backend %>): <%= Rails.application.secrets.release_version || 'not deployed' %>
  </li>
  <li>
    Frontend (tutor-js): <%= OpenStax::Utilities::Assets.manifest.version || 'not deployed' %>
  </li>
</ul>

<h3>Status <%= status_icons.find do |key, value|
  @statuses.any? { |_, _, _, status| status == key }
end&.second %></h3>

<ul>
  <% @statuses.map do |name, desired_capacity, max_size, status| %>
    <li>
      <%= name.to_s.underscore.humanize %>: <%= desired_capacity %>/<%= max_size %> <%=
        status_icons[status] || "(#{status.to_s.humanize})"
      %>
    </li>
  <% end %>
</ul>
