<%
  status_icons = {
    down: 'ðŸ’€',
    configuration_error: 'âš ï¸',
    shutting_down: 'ðŸ˜ª',
    at_capacity: 'ðŸ¥µ',
    scaling_down: 'ðŸ“‰',
    scaling_up: 'ðŸ“ˆ',
    migrating: 'ðŸ’¾',
    ok: 'âœ…',
    sleeping: 'ðŸ’¤'
  }

  backend = @application_name == 'Tutor' ? 'tutor-server' : @application_name.downcase
%>

<h3>Versions</h3>

<ul>
  <li>
    Backend (<%= backend %>): <%= Rails.application.secrets.release_version || 'not deployed' %>
  </li>
  <li>
    Frontend (tutor-js): <%= OpenStax::Utilities::Assets.manifest.version || 'not deployed' %>
  </li>
</ul>

<% status = status_icons.find { |key, _| @statuses.any? { |_, _, _, status| status == key } } %>
<h3>Status: <% unless status.nil? %><span title="<%=
  status.first.to_s.humanize
%>"><%= status.second %></span><% end %></h3>

<ul>
  <% @statuses.map do |name, num_instances, max_size, status| %>
    <% title = status.to_s.humanize %>
    <li>
      <%= name.to_s.underscore.humanize %>: <%= num_instances %>/<%= max_size %>
      <% if status_icons.has_key? status %>
        <span title="<%= title %>"><%= status_icons[status] %></span>
      <% else %>
        (<%= title %>)
      <% end %>
    </li>
  <% end %>
</ul>
