<% title = "OpenStax #{@application_name} (#{@environment_name}) Status" %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="robots" content="noindex">
    <meta http-equiv="content-type" content="text/html; charset=UTF8" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body id="status" class="status">
    <div class="body">
      <div class="body-container" style="margin-left: 16px;">
        <header><h2><%= title %></h2></header>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
